<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tech Blog</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  </head>

  <body id="body">
    <div class="container">
      <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 ">
        <div href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
         <h2>Tech Blog</h2>
        </div>

        <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
          <li><a href="/" class="nav-link px-2 link-dark">Home</a></li>
          <li><a href="/dashboard" class="nav-link px-2 link-dark">Dashboard</a></li>
        </ul>

        <div class="col-md-3 text-end">
          {{#if logged_in}}
            <button id="logout" type="button" class="btn btn-outline-primary btn-primary text-light me-2">Logout</button>
          {{else}}
            <button type="button" class="btn btn-outline-primary me-2 btn-primary text-light"><a class="navLoginBtn" href="/login">login</a></button>
          {{/if}}
          <button type="button" class="btn btn-outline-primary me-2 btn-primary text-light"><a class="navLoginBtn" href="/signup">Sign up</a></button>        </div>
      </header>
    </div>
    <main class="container container-fluid mt-5">
      {{{ body }}}
    </main>
    {{#if logged_in}}
      <script src="/js/logout.js"></script>
    {{/if}}

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  </body>

</html>
