<form class="signup-form">
  <h1 class="h3 mb-3 fw-normal border bg-secondary text-light">Sign Up</h1>

  <div class="form-floating">
    <input type="username" class="form-control usernameSignUp" id="floatingInput" placeholder="John Doe">
    <label for="floatingInput">Username</label>
  </div>
  <div class="form-floating">
    <input type="email" class="form-control emailSignUp" id="floatingInputEmail" placeholder="name@example.com">
    <label for="floatingInput">Email address</label>
  </div>
  <div class="form-floating">
    <input type="password" class="form-control passwordSignUp" id="floatingPassword" placeholder="Password">
    <label for="floatingPassword">Password</label>
  </div>

  <div class="checkbox mb-3">
    <label>
      <input type="checkbox" value="remember-me"> Remember me
    </label>
  </div>
  <button class="w-100 btn btn-lg btn-primary" type="submit">Login</button>
</form>
<div>
  <a id="signUpOrLoginInstead" href="/signup">Login Instead</a>
</div>

<script src="/js/signup.js"></script>
